:root {
    /* COLORS */
    --primary: #DB1F48;
    --secondary: #004369;
    --third: #01949A;
    --fourth: #E5DDC8;
    --extra: #000000;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
    font-size: 1.4rem;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    opacity: 1;
}

#content {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#content::before {
    content: ' ';
    display: block;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-image: url(./assets/background.jpg);
    background-image: url(./assets/fondo.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    /* opacity: .9; */
    z-index: -1;

}

#nav {
    width: 100%;
    /* background: rgb(225,226,36);
    background: linear-gradient(90deg, rgba(225,226,36,0.9220063025210083) 20%, rgba(9,116,186,0.969625350140056) 65%, rgba(13,112,189,1) 80%, rgba(71,42,233,0.7091211484593838) 80%, rgba(13,112,189,1) 80%, rgba(81,201,232,0.7483368347338936) 100%); */   
    background-color: rgb(0, 0, 0);
    /* opacity: .9; */
}

#nav > ul{
    display: flex;
    justify-content: space-around;
    list-style-type: none;
}

#nav > ul > li {
    /* color: #fff; */
    font-weight: bold;
    margin: 10px 30px;
}

.link {
    cursor: pointer;
    color: white;
    padding: 0px 15px;
    border: 4px solid black;
    background-color: var(--third);
    transition: all 400ms ease-in-out;
}

.link:hover {
    background-color: var(--primary);
    border: 4px solid white;
    color: white;
}

.selected-link {
    background-color: var(--primary);
    border: 4px solid white;
    color: white;
    padding: 0px 15px;
}

#structure {
    margin-top: .1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 90%;
    border: 6px solid rgb(255, 255, 255);
    padding: 5px 20px;
}

#title {
    font-size: 2.5rem;
}

#information {

}

#computer_logo {
    width: 20rem;
}

/* MENU */
#options {
    /* width: 50%;
    height: 50%;
    border: 10px solid white; */
    margin-top: 2rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    column-gap: 25vw;
    row-gap: 20vh;
    margin-bottom: 3rem;
}

#options > .option {
    width: 25vw;
    height: 55vh;
    background-color: rgba(0, 119, 255, 0.911);
    border: 3px solid white;
    margin-bottom: .5rem;
    border-radius: 50px;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
}

.option-title {
    font-size: 1.7rem;
    text-align: center;
    margin-top: .4em;
}

.option-description {
    font-size: .87rem;
    text-align: justify;
    padding: 25px;
}

#foto-hamburguesa {
    width: 9rem;
}

#foto-papa {
    width: 9rem;
}

#foto-jugo {
    width: 8rem;
}

#foto-helado {
    width: 6rem;
}